body {
    background-color: #302e2b;
}

#root{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.squareRow{
    display: flex;
}

.square{
    width: 75px;
    height: 75px;
}

.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656;
}

.highlightYellow{
    background-color: #f7f769;
}

.piece{
    width: 100%;
    cursor: pointer;
}

.highlight{
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.17);
}